.color-bends-container {
  position: absolute;
  top: -20vh;
  left: 0;
  width: 100%;
  height: 150vh;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
  opacity: 0.75;
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}
