:root {
  --color-white: #fff;
  --color-green: #79fbce;
  --color-sky-blue: #819bf7;
  --color-obstian: #111111;
  --color-light-gray: #adadad;
  --color-dark-gray: #333333;
  --color-navbar-border: rgba(74, 74, 74, 0.589);
  --color-navbar-slider: rgba(79, 79, 79, 0.371);
  --color-navbar-background: rgba(52, 52, 52, 0.589);
  --color-navbar-shadow: 0 2px 5px rgba(0, 0, 0, 0.029);
  --color-gradient-a: linear-gradient(-40deg, #ffd8b8, #fff4df);
  --color-gradient-b: linear-gradient(-40deg, #b1e5f9, #f4d2fe);
  --color-gradient-c: linear-gradient(-20deg, #ffdaef, #ffe9a6);
  --color-gradient-d: linear-gradient(-20deg, #ffe9a6, #b6ffe5);
  --color-gradient-e: linear-gradient(-40deg, #cab8ff, #ffe7f5);
  --color-gradient-f: linear-gradient(90deg, #ffe7f5, #d5f3ff);
  --color-gradient-g: linear-gradient(-30deg, #a8e6cf, #dcedc1);
  --color-gradient-h: linear-gradient(-50deg, #ffd3b6, #ffaaa5);
  --color-gradient-i: linear-gradient(-60deg, #e6a8a8, #a8c1e6);
  ---color-code-a: linear-gradient(90deg, #819bf7 0%, #4dffd5 100%);
  ---color-code-b: linear-gradient(90deg, #ffe9a6 0%, #ff7373 100%);
  ---color-code-c: linear-gradient(90deg, #f3a6ff 0%, #a3afff 100%);
  ---color-code-d: linear-gradient(90deg, #edacff 0%, #8ad2ff 100%);
  ---color-code-e: linear-gradient(90deg, #b1e5f9 0%, #f4d2fe 100%);
  ---color-code-f: linear-gradient(90deg, #a3ffed 0%, #ff4d4d 100%);
}

* {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

*::selection {
  color: var(--color-obstian);
  background-color: var(--color-sky-blue);
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  width: 100%;
  background: var(--color-obstian);
  background-color: var(--color-obstian);
}
main {
  margin: auto;
  padding: 25px;
  max-width: 75rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

@media screen and (max-width: 768px) {
  main {
    gap: 100px;
  }
}
